<h3 class="section-title">Reserach Interests</h3>
<dl>
    <p>Business Process Management, Process Mining, Intelligent Information Systems</p>
</dl>

<h3 class="section-title">Professional Experience</h3>
<dl class="experience">
    {% for job in site.data.jobs %}
        <dt>
            <p class="title">{{ job.title }}</p>
            <p class="company">{{ job.company }}</p>
            <p class="company">{{ job.affiliation }}</p>
            <p class="period">{{ job.period }}</p>
        </dt><!--
        --><dd>
            <p>{{ job.description }}</p>
        </dd>
    {% endfor %}
</dl>

<h3 class="section-title">Education</h3>
<dl class="education">
    {% for degree in site.data.education %}
        <dt>
            <p class="title">{{ degree.degree }}</p>
            <p class="company">{{ degree.university }}</p>
        </dt><!--
        --><dd>
            <p>{{ degree.dissertation }}</p>
        </dd>
    {% endfor %}
</dl>


<h3 class="section-title">Teaching Experience</h3>
<dl>
    <p>Courses Taught</p>
    <p>CS 3744  <b>Instructor</b>, Introduction to GUI Programming and Graphics, 1 Semeter  <b>(OpenGL, Java)</b></p>
    <p>Guest Lectures</p>
</dl>

<h3 class="section-title">Grants Funded</h3>
<dl>
    <p><b>Principal Invesigator</b>, Study on Deep-Learning-Based Business Process Behavior Predictions, National Research Foundation of Korea, 2018 – 2021, 75,000$</p>
    <p><b>Co-Principal Investigator</b>, Study on Intelligent Manufacturing Technology, Gyeonggi Regional Research Center, 2017 – 2019</p>
</dl>

<h3 class="section-title">Software Development</h3>

<h3 class="section-title">Honors and Awards</h3>

<h3 class="section-title">Publications</h3>
<dl>
    <p>Refereed Journal Articles</p>
    <p>Journal Articles (Non-refereed)</p>
    <p>Conference Papers </p>
</dl>

<h3 class="section-title">Patents</h3>
<dl>
    <p>Granted Patents</p>
    <p>Patent Applications</p>
</dl>

<h3 class="section-title">Activities and Service</h3>
<dl>
    <p>Memberships</p>
    <p>Technical Reviewer</p>
    <p>Evaluation Panel</p>
    <p>Invited Talks</p>
</dl>

<h3 class="section-title">Skills</h3>
<dl>
    <p>Programming Languages</p>
    <p>Frameworks</p>
    <p>Languages</p>
</dl>
